article {
  margin: 20px 0;
  padding: 20px 0; }

#nav-toggle {
  position: absolute;
  left: -1px;
  top: 0;
  background: #222;
  padding: 1em;
  cursor: pointer;
  padding: 20px 45px 26px 10px; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
    transition: all 500ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }

.move-right #nav-toggle span {
  background-color: transparent; }
  .move-right #nav-toggle span:before, .move-right #nav-toggle span:after {
    top: 0; }
  .move-right #nav-toggle span:before {
    transform: rotate(45deg); }
  .move-right #nav-toggle span:after {
    transform: rotate(-45deg); }

.inner-wrap {
  min-height: 100vh; }

.top-bar #nav-toggle {
  background: none;
  padding: .5rem;
  left: 0;
  top: .7rem; }
  .top-bar #nav-toggle span,
  .top-bar #nav-toggle span::before,
  .top-bar #nav-toggle span::after {
    width: 1.8125rem; }

.header.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 3rem;
  margin-bottom: 3rem; }

img.featured-image {
  float: left;
  margin: 0 1rem 1rem 0; }

.entry-meta .vcard {
  margin: 0;
  border: none;
  padding: 0; }

.entry-meta {
  margin-bottom: 1rem; }

footer.page-footer {
  padding: 2rem 0 1rem 0;
  margin-top: 2rem; }

.admin-bar .fixed {
  top: 32px; }

ul.off-canvas-list li a,
ul.off-canvas-list li label {
  border-color: rgba(0, 0, 0, 0.2); }

.top-bar-section > ul > .divider,
.top-bar-section > ul > [role="separator"] {
  border-right: 1px solid rgba(0, 0, 0, 0.2); }
